#header {background-color: #ffffff;
background-image:none;
}

#header .site-branding__logo img {width:300px;}
#header .site-branding__name a {color:#000000;}

/* Style profile element positions */

/*

.view-show-profiles .views-field-field-profile-picture {float:left;}
.view-show-profiles .views-field-title {clear:both;}

*/
